/* синий цвет #2196F3 */
/* черный цвет - заголовки и навигация #212121 */
/* белый цвет #FFFFFF */
/* черный в лого #000000    и белый в лого  #FFFFFF */
/* фоновый Наша команда #F5F4FA  --- фоновый в чем мы занимаемся - #E5E5E5 */
/* серый текст - #757575 */
/* фон кнопок в портфолио - #F5F4FA */
/* font weight = 400, 500, 700, 900,  */

/* :root {
  --accent: #2196f3;
  --text-color: #757575;
  --background-team: #f5f4fa;
  --header-logo: #000000;
  --titles: #212121;
  --navigation: #212121;
  --white-colour: #ffffff;
  --btn-portfolio: #212121;
  --portfolio-btn-background: #f5f4fa;
  --for-icons: #afb1b8;
  --features-icon-backgroung: #f5f4fa;
  --animation-time: 250ms;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover: #188ce8;
} */

/* html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
} */

/* h1,
h2,
h3,
p {
  margin: 0;
} */

/* для скрытых заголовков
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* .container {
  margin: 0px auto;
  padding-right: 15px;
  padding-left: 15px;

  width: 1200px;
} */

/*  
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
*/

/* .link {
  text-decoration: none;
  color: currentColor;
} */

/* .accent {
  color: var(--accent);
} */

/* .list {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* --------------------------------HEADER---------------------------  */
/* .container--flex {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;

  background: var(--white-colour);
}

.nav {
  display: flex;
  align-items: center;
}

.header-list {
  margin-left: auto;

  display: flex;
  align-items: center;
} */

/* .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .header__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  color: var(--header-logo);
}

.header-list__link {
  transition: color var(--animation-time) var(--animation-function);
}

.header-list__link:hover,
.header-list__link:focus {
  color: var(--accent);
}

.header-list__item:not(:last-child) {
  margin-right: 50px;
}

.header-list__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--navigation);
}

.header-list__link--active::after {
  content: '';

  position: absolute;

  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent);

  border-radius: 2px;
}

.header-list__link--flex {
  color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-list__icon {
  display: inline-block;
  margin-right: 10px;

  fill: currentColor;

  justify-content: center;
  align-items: center;
}

.header-list__link--active {
  color: var(--accent);
} */

/* --------------------------------STUDIO PAGE  ---------------------------  */
/* --------------------------------HEROES section---------------------------  */
/* .hero-section {
  padding: 200px 0px;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section__title {
  margin: 0 auto;

  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-colour);
}

.button {
  margin: 30px auto 0 auto;
  padding: 0;

  display: block;
  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--white-colour);
  background: var(--accent);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background-color var(--animation-time) var(--animation-function);
}

.button:hover,
.button:focus {
  background-color: var(--btn-hover);
} */

/* --------------------------------FEATURES section---------------------------  */
/* .features-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--white-colour);
}

.features-list {
  padding: 0;
  margin: 0;

  display: flex;
}

.features-list__title {
  margin-top: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--titles);
}

.features-list__item {
  width: 270px;
}

.features-list__item:not(:last-child) {
  margin-right: 30px;
}

.features-list__text {
  margin-top: 10px;

  line-height: 1.71;
}

.icon-element {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: var(--features-icon-backgroung);
} */

/* --------------------------------PRODUCT&TEAM section---------------------------  */

/* .product {
  padding-top: 0px;

  background-color: var(--white-colour);
}

.product-list {
  margin-top: 50px;

  display: flex;
}

.product-list__item:not(:last-child) {
  margin-right: 30px;
}

.product-list__item {
  position: relative;
}

.product-list__text {
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-colour);
  background-color: rgba(47, 48, 58, 0.8);
} */

/* .team {
  background-color: var(--background-team);
}

.team-list__item {
  margin-right: 30px;

  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:last-child {
  margin-right: 0px;
}

.product__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--titles);
}

.team-box__heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--titles);
}

.team-list {
  margin-top: 50px;

  display: flex;
}

.team-box__text {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.team-list__item--background {
  background-color: var(--white-colour);
}

.team-social {
  margin-top: 16px;

  display: flex;
  justify-content: center;
}

.team-social__item {
  margin-right: 10px;

  width: 44px;
  height: 44px;
}

.team-social__item:last-child {
  margin-right: 0px;
}

.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  
  color: var(--for-icons);

  transition: background-color var(--animation-time) var(--animation-function),
    color var(--animation-time) var(--animation-function);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent);
  color: var(--white-colour);
}

.team-social__icon {
  fill: currentColor;
} */
/* ---------------------------!!!clients logos !!! ---------------------------  */
/* .clients__list {
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.clients-list__link {
  display: block;
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  color: var(--for-icons);
  border: 1px solid var(--for-icons);
  border-radius: 4px;

  transition: color var(--animation-time) var(--animation-function),
    border var(--animation-time) var(--animation-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__icon {
  fill: currentColor;
} */

/* ---------------------------!!!PORTFOLIO PAGE!!! ---------------------------  */

/* .portfolio-btn {
  padding: 6px 22px;

  display: block;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--btn-portfolio);
  background-color: var(--portfolio-btn-background);
  border-radius: 4px;
  border: 0ch;
  cursor: pointer;

  transition: color var(--animation-time) var(--animation-function),
    background-color var(--animation-time) var(--animation-function),
    box-shadow var(--animation-time) var(--animation-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-colour);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .filter-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn--current {
  background-color: var(--accent);
  color: var(--white-colour);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

.examples {
  margin-top: 50px;
}

.portfolio-list {
  margin-top: 50px;

  display: flex;
  flex-wrap: wrap;
}

.portfolio-list__item {
  margin-right: 30px;
  margin-bottom: 30px;

  width: 370px;
}

.portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list__link {
  display: block;

  transition: box-shadow var(--animation-time) var(--animation-function);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-box {
  position: relative;
  overflow: hidden;
}

.card-box__text {
  position: absolute;

  padding: 63px 24px;
  height: 100%;
  top: 0;

  font-size: 18px;
  line-height: 1.56;

  color: var(--white-colour);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform var(--animation-time) var(--animation-function);
}

.portfolio-list__link:hover .card-box__text,
.portfolio-list__link:focus .card-box__text {
  transform: translateY(0);
}

.bottom-part {
  padding: 20px 24px;

  border: 1px #eeeeee;
  border-style: none solid solid solid;
}

.bottom-part__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--titles);
}

.bottom-part__text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--text-color);
} */

/* --------------------------------FOOTER ---------------------------  */

/* .footer {
  padding: 60px 0px;

  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  display: inline-block;
  color: var(--white-colour);
}

.footer-address {
  margin-top: 20px;

  line-height: 1.71;
  font-style: normal;
}

.footer-list__item--color {
  color: var(--white-colour);
}

.footer-list__item:not(:first-child) {
  margin-top: 9px;
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--animation-time) var(--animation-function);
}

.footer-list__link:hover,
.footer-list__link:focus {
  color: var(--accent);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-colour);
}

.social-list {
  margin-top: 20px;

  display: flex;
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background-color var(--animation-time) var(--animation-function);
}

.social-list__icon {
  fill: var(--white-colour);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent);
}

.footer-form {
  margin-left: auto;
}
.form-box {
  display: flex;
  align-items: center;
}

.form-input {
  width: 358px;
}

.form-input__email-field {
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  transition: border var(--animation-time) var(--animation-function),
    outline var(--animation-time) var(--animation-function);
}

.form-input__email-field:focus {
  border: 1px solid var(--accent);
  outline: 1px solid var(--accent);
}

.footer-form__title-field {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-colour);
}

.subscribe-btn {
  position: relative;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;

  display: flex;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: var(--white-colour);

  transition: background-color var(--animation-time) var(--animation-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--btn-hover);
}

.subscribe-btn__icon {
  position: absolute;
  right: 26px;
  top: 13px;
  bottom: 13px;
  left: 148px;
} */
/* -------------------------Modal window---------------------- */
/* 
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation-time) var(--animation-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  width: 528px;
  min-height: 581px;

  background-color: var(--white-colour);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--animation-time) var(--animation-function);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: block;

  width: 30px;
  height: 30px;

  background: var(--white-colour);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill var(--animation-time) var(--animation-function);
}

.modal-btn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent);
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--titles);
}

.form__modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__modal-label:first-child {
  margin-top: 0px;
}

.modal-box {
  position: relative;

  margin-bottom: 10px;
}

.modal-box__field {
  padding: 12px 16px 12px 42px;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;

  transition: border var(--animation-time) var(--animation-function);
}

.modal-box__field::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-box__field:focus {
  border: 1px solid var(--accent);
  outline: 1px solid var(--accent);
}

.modal-box__field.comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-box__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  transition: fill var(--animation-time) var(--animation-function);
}

.modal-box__field:focus + .modal-box__icon {
  fill: var(--accent);
}

.rules-label {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.check-icon-box {
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 2px;

  transition: background-color var(--animation-time) var(--animation-function),
    border var(--animation-time) var(--animation-function);
}

.icon-check {
  fill: transparent;

  transition: fill var(--animation-time) var(--animation-function);
}

.input-check:checked + span {
  background-color: var(--accent);
  border: none;
}

.input-check:checked + .check-icon-box .icon-check {
  fill: var(--white-colour);
}



.rules-link {
  color: var(--accent);
}

.modal-btn-send {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  padding: 10px 55px;

  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  cursor: pointer;

  color: var(--white-colour);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  transition: background var(--animation-time) var(--animation-function);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background: var(--btn-hover);
} */
